
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <div class="content">
      
      <div class="col">
        <div class="card card-primary">
          <div class="card-header">
            <h5 class="card-title"><?=$title;?></h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="text-center d-flex align-items-center justify-content-center">
                <form action="<?= site_url('bpk/cari'); ?>" method="post">
                  <div class="row">
                    <div class="col-auto">
                      <label for="" class="col-form-label">Tanggal Mulai</label>
                    </div>
                    <div class="col-auto">
                      <input type="date" class="form-control" name="tgl1">
                    </div>
                    <div class="col-auto">
                      <label for="" class="col-form-label">s.d</label>
                    </div>
                    <div class="col-auto">
                      <input type="date" class="form-control" name="tgl2">
                    </div>
                    <div class="col">
                      <button type="submit" class="btn btn-primary">Cari</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="card"></div>
            <!-- <div class="card-body row justify-content-center"> -->
          <div class="card-body table-responsive p-0 " style="height: 600px;">
            <div class="col-12">
              <table id="myTable1" class="table table-bordered table-head-fixed table-sm">
                <thead>
                  <tr>
                    <th class="align-middle text-center" rowspan="3">NO</th>
                    <th class="align-middle text-center" rowspan="3">TAHUN</th>
                    <th class="align-middle text-center" rowspan="3">JENIS PERJALANAN</th>
                    <th class="align-middle text-center" rowspan="3">NAMA</th>
                    <th class="align-middle text-center" rowspan="3">JABATAN/ GOL/ TINGKAT BIAYA</th>
                    <th class="align-middle text-center" rowspan="2" colspan="6">SURAT PERINTAH TUGAS</th>
                    <th class="align-middle text-center" rowspan="2" colspan="6">SURAT PERJALANAN DINAS</th>
                    <th class="align-middle text-center" rowspan="2" colspan="4">BIAYA PERJALANAN DINAS</th>
                    <th class="align-middle text-center" colspan="10">PESAWAT</th>
                    <th class="align-middle text-center" colspan="8" rowspan="2">HOTEL</th>
                    <th class="align-middle text-center" colspan="6">TAKSI/TRANSPORT LOKAL</th>
                    <th class="align-middle text-center" rowspan="3">TOTAL</th>
                  </tr>
                  <tr>
                    <th class="align-middle text-center" colspan="5">BERANGKAT</th>
                    <th class="align-middle text-center" colspan="5">KEMBALI</th>
                    <th class="align-middle text-center" colspan="3">BERANGKAT</th>
                    <th class="align-middle text-center" colspan="3">KEMBALI</th>
                  </tr>
                  <tr>
                    <th class="align-middle text-center">NO. SPT</th>
                    <th class="align-middle text-center">TANGGAL</th>
                    <th class="align-middle text-center">TEMPAT TUJUAN</th>
                    <th class="align-middle text-center">JUMLAH HARI</th>
                    <th class="align-middle text-center">TGL. BERANGKAT</th>
                    <th class="align-middle text-center">TGL. KEMBALI</th>
                    <th class="align-middle text-center">NO. SPD</th>
                    <th class="align-middle text-center">TANGGAL</th>
                    <th class="align-middle text-center">TEMPAT TUJUAN</th>
                    <th class="align-middle text-center">JUMLAH HARI</th>
                    <th class="align-middle text-center">TGL. BERANGKAT</th>
                    <th class="align-middle text-center">TGL. KEMBALI</th>
                    <th class="align-middle text-center">UANG HARIAN</th>
                    <th class="align-middle text-center">PENGGANTI TRANSPORT</th>
                    <th class="align-middle text-center">REPRESENTATIF</th>
                    <th class="align-middle text-center">SEWA MOBIL</th>
                    <th class="align-middle text-center">MASKAPAI (Berangkat)</th>
                    <th class="align-middle text-center">NO. TIKET</th>
                    <th class="align-middle text-center">KODE BOKING</th>
                    <th class="align-middle text-center">TANGGAL PENERBANGAN</th>
                    <th class="align-middle text-center">HARGA</th>
                    <th class="align-middle text-center">MASKAPAI (Kembali)</th>
                    <th class="align-middle text-center">NO. TIKET</th>
                    <th class="align-middle text-center">KODE BOKING</th>
                    <th class="align-middle text-center">TANGGAL PENERBANGAN</th>
                    <th class="align-middle text-center">HARGA</th>
                    <th class="align-middle text-center">NAMA DAN LOKASI HOTEL</th>
                    <th class="align-middle text-center">TIPE KAMAR</th>
                    <th class="align-middle text-center">NOMOR KAMAR</th>
                    <th class="align-middle text-center">TGL. CHECKIN</th>
                    <th class="align-middle text-center">TGL. CHECKOUT</th>
                    <th class="align-middle text-center">LAMA</th>
                    <th class="align-middle text-center">HARGA PER MALAM</th>
                    <th class="align-middle text-center">TOTAL HARGA</th>
                    <th class="align-middle text-center">TUJUAN</th>
                    <th class="align-middle text-center">TGL. BERANGKAT</th>
                    <th class="align-middle text-center">HARGA</th>
                    <th class="align-middle text-center">TUJUAN</th>
                    <th class="align-middle text-center">TGL. BERANGKAT</th>
                    <th class="align-middle text-center">HARGA</th>
                  </tr>
                </thead>
                <tbody>
                  <?php $no = 1;foreach ($data as $key => $value): 
                    $idpelaksana = $value->pelaksana_id;
                    $idspt = $value->spt_id;
                    ?>
                  <tr>
                      <td class="align-middle text-center"><?=$no++;?></td>
                      <td class="align-middle text-center"><?= $value->spt_tahun; ?></td>
                      <td class="align-middle text-center"><?= $value->jenisperjadin_nama; ?></td>
                      <td class="align-middle text-left"><?= $value->pegawai_nama; ?><br>NIP. <?= $value->pegawai_nip; ?></td>
                      <td class="align-middle text-center">
                        <?= $value->pegawai_jabatan; ?><br><?= $value->pangkat_nama; ?> (<?= $value->pangkat_gol; ?>)
                        <br>Tingkat <?= $value->tingkat_nama; ?> 
                      </td>
                      <td class="align-middle text-center"><?= $value->spt_nomor; ?></td>
                      <td class="align-middle text-center"><?= date('d-m-Y',strtotime($value->spt_tgl)); ?></td>
                      <td class="align-middle text-center"><?= $value->lokasiperjadin_nama; ?></td>
                      <td class="align-middle text-center"><?= $value->spt_lama; ?> hari</td>
                      <td class="align-middle text-center"><?= date('d-m-Y',strtotime($value->spt_mulai)); ?></td>
                      <td class="align-middle text-center"><?= date('d-m-Y',strtotime($value->spt_berakhir)); ?></td>
                      <td class="align-middle text-center"><?= $value->sppd_nomor; ?></td>
                      <td class="align-middle text-center"><?= date('d-m-Y',strtotime($value->spt_tgl)); ?></td>
                      <td class="align-middle text-center"><?= $value->lokasiperjadin_nama; ?></td>
                      <td class="align-middle text-center"><?= $value->spt_lama; ?> hari</td>
                      <td class="align-middle text-center"><?= date('d-m-Y',strtotime($value->spt_mulai)); ?></td>
                      <td class="align-middle text-center"><?= date('d-m-Y',strtotime($value->spt_berakhir)); ?></td>
                      <?php 
                      $uharian = $modelrampung->rampungharian($idpelaksana);
                      foreach ($uharian as $key => $uh) :?>
                      <td class="align-middle text-right"><?= number_format($uh->uangharian_jumlah,2,',','.') ?></td>
                      <td class="align-middle text-right"><?= number_format($uh->uangharian_jumlahbiayatransport,2,',','.') ?></td>
                      <td class="align-middle text-right"><?= number_format($uh->uangharian_jumlahrepresentasi,2,',','.') ?></td>
                      <td class="align-middle text-right"><?= number_format($uh->uangharian_jumlahsewamobil,2,',','.') ?></td>
                      <?php endforeach ?>
                      <?php 
                      $bpkpesawat = $modelrampung->rampungpesawatberangkat($idpelaksana) ?>
                      <td class="align-middle text-left">
                        <?php foreach ($bpkpesawat as $key => $pesawat) :?>
                        <?= $pesawat->spjpesawat_maskapai ?><br>
                        <?php endforeach ?>
                      </td>
                      <td class="align-middle text-left">
                        <?php foreach ($bpkpesawat as $key => $pesawat): ?>
                        <?=$pesawat->spjpesawat_notiket?><br>
                        <?php endforeach?>
                      </td>
                      <td class="align-middle text-left">
                        <?php foreach ($bpkpesawat as $key => $pesawat): ?>
                        <?=$pesawat->spjpesawat_kdboking?><br>
                        <?php endforeach?>
                      </td>
                      <td class="align-middle text-center">
                        <?php foreach ($bpkpesawat as $key => $pesawat): ?>
                        <?=date('d-m-Y',strtotime($pesawat->spjpesawat_tgl))?><br>
                        <?php endforeach?>
                      </td>
                      <td class="align-middle text-right">
                        <?php foreach ($bpkpesawat as $key => $pesawat): ?>
                        <?=number_format($pesawat->spjpesawat_harga,2,',','.')?><br>
                        <?php endforeach?>
                      </td>
                      <?php 
                      $bpkpesawat = $modelrampung->rampungpesawatkembali($idpelaksana) ?>
                      <td class="align-middle text-left">
                        <?php foreach ($bpkpesawat as $key => $pesawat) :?>
                        <?= $pesawat->spjpesawat_maskapai ?><br>
                        <?php endforeach ?>
                      </td>
                      <td class="align-middle text-left">
                        <?php foreach ($bpkpesawat as $key => $pesawat): ?>
                        <?=$pesawat->spjpesawat_notiket?><br>
                        <?php endforeach?>
                      </td>
                      <td class="align-middle text-left">
                        <?php foreach ($bpkpesawat as $key => $pesawat): ?>
                        <?=$pesawat->spjpesawat_kdboking?><br>
                        <?php endforeach?>
                      </td>
                      <td class="align-middle text-center">
                        <?php foreach ($bpkpesawat as $key => $pesawat): ?>
                        <?=date('d-m-Y',strtotime($pesawat->spjpesawat_tgl))?><br>
                        <?php endforeach?>
                      </td>
                      <td class="align-middle text-right">
                        <?php foreach ($bpkpesawat as $key => $pesawat): ?>
                        <?=number_format($pesawat->spjpesawat_harga,2,',','.')?><br>
                        <?php endforeach?>
                      </td>
                      <?php 
                      $bpkhotel = $modelrampung->rampunghotel($idpelaksana) ?>
                      <td class="align-middle text-left">
                        <?php foreach ($bpkhotel as $key => $hotel) :?>
                        <?= $hotel->spjhotel_nama ?> - <?= $hotel->spjhotel_lokasi ?><br>
                        <?php endforeach ?>
                      </td>
                      <td class="align-middle text-center">
                        <?php foreach ($bpkhotel as $key => $hotel): ?>
                        <?=$hotel->spjhotel_typekamar?><br>
                        <?php endforeach?>
                      </td>
                      <td class="align-middle text-center">
                        <?php foreach ($bpkhotel as $key => $hotel): ?>
                        <?=$hotel->spjhotel_nokamar?><br>
                        <?php endforeach?>
                      </td>
                      <td class="align-middle text-center">
                        <?php foreach ($bpkhotel as $key => $hotel): ?>
                        <?=date('d-m-Y',strtotime($hotel->spjhotel_checkin))?><br>
                        <?php endforeach?>
                      </td>
                      <td class="align-middle text-center">
                        <?php foreach ($bpkhotel as $key => $hotel): ?>
                        <?=date('d-m-Y',strtotime($hotel->spjhotel_checkout))?><br>
                        <?php endforeach?>
                      </td>
                      <td class="align-middle text-center">
                        <?php foreach ($bpkhotel as $key => $hotel): ?>
                        <?=$hotel->spjhotel_mlm?> mlm<br>
                        <?php endforeach?>
                      </td>
                      <td class="align-middle text-right">
                        <?php foreach ($bpkhotel as $key => $hotel): ?>
                        <?=number_format($hotel->spjhotel_hargapermalam,2,',','.')?><br>
                        <?php endforeach?>
                      </td>
                      <td class="align-middle text-right">
                        <?php foreach ($bpkhotel as $key => $hotel): ?>
                        <?=number_format($hotel->spjhotel_hargatotal,2,',','.')?><br>
                        <?php endforeach?>
                      </td>
                      <?php 
                      $bpktaksi = $modelrampung->rampungtaksiberangkat($idpelaksana) ?>
                      <td class="align-middle text-left">
                        <?php foreach ($bpktaksi as $key => $taksi) :?>
                        <?= $taksi->spjtaksi_dari ?> ke <?= $taksi->spjtaksi_ke ?><br>
                        <?php endforeach ?>
                      </td>
                      <td class="align-middle text-center">
                        <?php foreach ($bpktaksi as $key => $taksi): ?>
                        <?=date('d-m-Y',strtotime($taksi->spjtaksi_tgl))?><br>
                        <?php endforeach?>
                      </td>
                      <td class="align-middle text-right">
                        <?php foreach ($bpktaksi as $key => $taksi): ?>
                        <?=number_format($taksi->spjtaksi_harga,2,',','.')?><br>
                        <?php endforeach?>
                      </td>
                      <?php 
                      $bpktaksi = $modelrampung->rampungtaksikembali($idpelaksana) ?>
                      <td class="align-middle text-left">
                        <?php foreach ($bpktaksi as $key => $taksi) :?>
                        <?= $taksi->spjtaksi_dari ?> ke <?= $taksi->spjtaksi_ke ?><br>
                        <?php endforeach ?>
                      </td>
                      <td class="align-middle text-center">
                        <?php foreach ($bpktaksi as $key => $taksi): ?>
                        <?=date('d-m-Y',strtotime($taksi->spjtaksi_tgl))?><br>
                        <?php endforeach?>
                      </td>
                      <td class="align-middle text-right">
                        <?php foreach ($bpktaksi as $key => $taksi): ?>
                        <?=number_format($taksi->spjtaksi_harga,2,',','.')?><br>
                        <?php endforeach?>
                      </td>
                      <?php 
                      $subtotal = $modelrampung->rampungperpelaksana($idspt, $idpelaksana) ?>
                      <td class="align-middle text-right">
                        <?php foreach ($subtotal as $key => $sub) :?>
                        <?= number_format($sub->subtotal,2,',','.') ?>
                        <?php endforeach ?>
                      </td>

                    </tr>
                    <?php endforeach?>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  