<div class="modal fade"
     id="modal"
     tabindex="-1"
     data-bs-backdrop="static"
     data-bs-keyboard="false">

    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modal-body"></div>
    </div>

</div>

<script>
(function () {

    const modalEl = document.getElementById('modal');

    if (!modalEl) return;

    let forceClose = false;

    modalEl.addEventListener('hide.bs.modal', function (e) {
        if (!forceClose) {
            e.preventDefault();
        }
    });

    window.closeCrudModal = function () {
        forceClose = true;

        const modal =
            bootstrap.Modal.getOrCreateInstance(modalEl);

        modal.hide();

        setTimeout(() => {
            forceClose = false;
        }, 300);
    };

})();
</script>