<div class="card shadow-sm border-0 rounded-4">
    <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center">
        <h5 class="mb-0 fw-bold">Data User</h5>

        <!-- HTMX BUTTON -->
        <a hx-get="{% url 'user_create' %}" 
           hx-target="#main-content"
           hx-push-url="true"
           class="btn btn-primary btn-sm">
            + Tambah User
        </a>
    </div>

    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Nama</th>
                    <th>OPD</th>
                    <th>Role</th>
                    <th width="150">Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for u in data %}
                <tr>
                    <td>{{ u.username }}</td>
                    <td>{{ u.first_name }} {{ u.last_name }}</td>
                    <td>{{ u.userprofile.opd }}</td>
                    <td>{{ u.userprofile.role }}</td>
                    <td>
                        <a hx-get="{% url 'user_update' u.id %}" 
                           hx-target="#main-content"
                           hx-push-url="true"
                           class="btn btn-warning btn-sm">
                           Edit
                        </a>

                        <a href="{% url 'user_delete' u.id %}" 
                           onclick="return confirm('Yakin?')" 
                           class="btn btn-danger btn-sm">
                           Hapus
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
